* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: whitesmoke;
}

main {
    padding: 2rem 1rem;
}

img {
    width: 100%;
}

h1 {
    margin-block: 0 2.5rem;
    font-size: 2rem;
    font-weight: 700;
}


.img-container {
    max-width: 425px;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px lightgray;
    margin: 2rem auto;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(77, 75, 75);
    margin-block: 1.75rem;
}

h2 {
    font-size: 2.5rem;
    word-wrap: break-word;
}

h2#time {
    margin-top: 1rem;
}

main a {
    padding: 0.75rem 1.5rem;
    text-transform: uppercase;
    font-family: sans-serif;
    color: whitesmoke;
    border-radius: 6px;
    text-decoration: none;
    background: black;
}

main a:hover {
    background: rgb(77, 75, 75);
}